@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    font-family: 'Pretendard-Regular';
}

header {
    margin-top: -15px;
    position: relative;
    z-index: 20;
    position: fixed;
    background-color: white;
}

.head {
    width: 100%;
    height: auto;
}

.biggest {
    display: flex;
    justify-content: center;
}

.bigger {
    width: 100%;
    height: 100px;
    max-width: 1380px;
    display: flex;
}

.logo {
    height: 0px;
}

.logoimg {
    margin: 31px;
    display: flex;
}

.logoimg>img {
    height: 40px;
}


.upList {
    display: flex;
    height: 50px;
    margin-left: 12%;
    margin-top: 33px;
    align-items: center;
    position: absolute;
}

.upList>a {
    font-weight: bold;
    margin-left: 15px;
    font-size: 23px;
    color: black;
    text-decoration: none;
}


.search_box {
    height: 40px;
    width: 123%;
    margin-left: 32%;
    margin-top: 40px;
    display: flex;
}

#search {
    padding-left: 15px;
    width: 414px;
    border: darkgray;
    background-color: rgb(245, 245, 245);
}

#search_btn {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

#search_btn>img {
    margin-left: -50px;
    height: 20px;
}

input::placeholder {
    color: #A2A2A2;
    font-size: 15px;
    line-height: 1.125rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-family: 'Pretendard-Regular';
}


.user {
    height: 30px;
    font-size: 16px;
    margin: 48px;
    margin-left: 44%;
    display: flex;
    min-width: 60px;
    align-items: center;
    justify-content: center;
}

.user>a {
    margin: 5px;
    text-decoration: none;
    color: rgb(92, 92, 92);
}


.dot {
    width: 4px;
    height: 4.5px;
    overflow: hidden;
    background-color: #ff5d00;
    margin-left: 5.5%;
    border-radius: 50%;
    position: absolute;
}

.navbig {
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    height: 40px;
    max-width: 1380px;
    display: flex;
    align-items: center;
}

.lists {
    font-size: 18px;
    margin-left: 40px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}


.subjectname {
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 35px;
    max-width: 1310px;
    overflow: hidden;
}

.subjectname1 {
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    height: 50px;
    padding-top: 30px;
    margin-top: 80px;
    margin-bottom: 35px;
    max-width: 1310px;
    overflow: hidden;
}


.longdivs {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    height: 547px;
    max-width: 1310px;
    overflow: hidden;
}

.longdived {
    width: 100%;
    height: 100%;
    max-width: 1216px;
    display: flex;
    max-width: 23%;
    margin-right: 25px;
    flex-wrap: wrap;
    cursor: pointer;
}

.longdivedimg {
    border-radius: 5px;
    height: 74%;
    width: 100%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.longdivedimg>img {
    transition: all 0.2s linear;
    height: 120%;
}

.longdivedimg:hover>img {
    transform: scale(1.1);
}

.longdivedinfo {
    height: 20%;
    width: 100%;
    background-color: white;
}

.infoname {}

.infoname>p {
    padding: 0;
    margin-top: 5px;
    font-size: 12px;
    font-weight: 700;
}

.infodetail {
    margin-top: -8px;
    font-size: 15px;
    line-height: 20px;
    margin-right: 7px;
    letter-spacing: -0.15px;
    color: rgb(26, 26, 26);
}

.infolike {
    display: flex;
}

.infolike>div {
    display: flex;
    width: 30%;
}

.infolike>div>div {
    width: 50%;
    font-size: 13px;
}

.infolike>div>div>img {
    height: 12px;
}

.thumbsup {
    margin-left: -35px;
}

.heartcount {
    margin-left: -30px;
    color: rgb(170, 170, 170);
}

.thubmsupcount {
    margin-left: -30px;
    color: rgb(170, 170, 170);
}

.longdivedetc {
    height: 6%;
    width: 100%;
    display: flex;
    border-top: solid 1px rgb(247, 247, 247);
}

.etchighlight {
    display: flex;
    align-items: center;
    color: #FD3049;
    font-weight: bold;
    font-size: 13.5px;
}

.etcname {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 13.5px;
    font-weight: bold;
}

.etcetc {
    display: flex;
    margin-left: 20px;
    font-size: 12px;
    color: rgb(170, 170, 170);
    align-items: center;
}

.subjectname2 {
    align-items: flex-end;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    height: 50px;
    margin-top: 80px;
    margin-bottom: 50px;
    max-width: 1310px;
    overflow: hidden;
}

.showall {
    width: 60px;
    margin-top: -3%;
    margin-left: 81%;
    margin-bottom: 1.5%;
    cursor: pointer;
}

.showall>p {
    min-width: 14%;
    font-size: 16px;
    color: rgb(162, 162, 162);
}

  

.shortdivs {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    height: 370px;
    max-width: 1310px;
    overflow: hidden;
}

.shortdived {
    width: 100%;
    height: 100%;
    max-width: 1216px;
    display: flex;
    max-width: 23%;
    margin-right: 30px;
    flex-wrap: wrap;
    cursor: pointer;
    flex-direction: column
}

.shortdivedimg {
    border-radius: 5px;
    height: 61%;
    width: 102%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.shortdivedimg>img {
    transition: all 0.2s linear;
    height: 120%;
}

.shortdivedimg:hover>img {
    transform: scale(1.1);
}

.shortdivedinfo {
    height: 15%;
    width: 100%;
}

.shortdivedetc {
    margin-top: 20px;
    height: 7%;
    width: 100%;
    display: flex;
    border-top: solid 1px rgb(247, 247, 247);
}

.infolike2 {
    display: flex;
}

.infolike2>div {
    display: flex;
    width: 30%;
}

.infolike2>div>div {
    width: 50%;
    font-size: 13px;
}

.infolike2>div>div>img {
    height: 12px;
}

.shortinfodetail {
    margin-top: -8px;
    font-size: 15px;
    line-height: 20px;
    margin-right: 7px;
    letter-spacing: -0.15px;
    color: rgb(26, 26, 26);
}

.shortinfodetail>p {
    margin-top: -8px;
    font-size: 16px;
    line-height: 20px;
    margin-right: 7px;
    letter-spacing: -0.15px;
    color: rgb(26, 26, 26);
}

.shortetcname {
    display: flex;
    align-items: center;
    font-size: 13.5px;
    font-weight: bold;
}

.shortthumbsup {
    margin-top: -7px;
    margin-left: 1px;
}
  
footer {
    margin-top: 40px;
    padding-bottom: 68px;
}

.footerbiggest {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 5000px;
    width: 100%;
    height: 100%;
}

.footerbigger {
    width: 1310px;
    display: flex;
    align-items: center;
}

.footerup {
    width: 100%;
    height: 60px;
    margin-bottom: 80px;
    display: flex;
}

.footerup_left {
    width: 25%;
    height: 100%;
}

.footerup_left01 {
    height: 35px;
}

.footerup_left01>img {
    margin-top: 3px;
    height: 100%;
}

.footerup_left02{
    width: 300px;
}

.footerup_left02>p {
    font-size: 16px;
    line-height: 3px;
    letter-spacing: -0.15px;
    margin-top: 30px;
    color: rgb(102, 102, 102);
}

.footerup_right{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: right;
    margin-top: 5px;
}

.footerup_right > a{
    font-weight: 700;
    font-size: 19px;
    color: rgb(26, 26, 26);
    margin-right: 233px;
    text-decoration: none;
}

.footerup_right_down{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 30px;
    margin-right: 835px;
    line-height: 35px;
    font-size: 16px;
}

.footerup_right_down > a{
    text-decoration: none;
    color: rgb(26, 26, 26);
}
.footerup_right_down2{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 30px;
    line-height: 35px;
    margin-right: 552px;
    font-size: 16px;
}

.footerup_right_down2 > a{
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.controll{
}

.controll > a{
    margin-right: 230px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(26, 26, 26);
    margin-left: 140px;
    text-decoration: none;
}

.controll_enter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgb(248, 248, 248);
    margin-top: 40px;
    margin-right: 00px;
    height: 40px;
    width: 280px;
    cursor: pointer;
}

.controll_enter > a{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(26, 26, 26);
}

.footerdown {
    width: 100%;
    padding: 30px;
    height: 40px;
    max-width: 1310px;
    display: flex;
    border-top: solid 1px rgb(248, 248, 248);
}

.footerdown_left {
    height: 100%;
    width: 70%;
    margin-left: -30px;
}

.footerdown_left>p {
    font-size: 14px;
    line-height: 5px;
    margin-top: 9px;
    text-decoration: none;
    color: rgb(162, 162, 162);
}

.footerdown_right {
    height: 100%;
    width: 70%;
    align-items: center;
    text-align: center;
}

.footerdown_right01>p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 16px;
    margin-left: 12px;
    text-decoration: none;
    color: rgb(162, 162, 162);
}

.footerdown_right02>p {
    font-size: 11px;
    line-height: 7px;
    margin-top: 13px;
    margin-left: 12px;
    text-decoration: none;
    color: rgb(202, 202, 202);
}

