/* ----------------------------------------------------메인 슬라이드 ------------------------------------------------------------------ */

.swiper-container {
  width: 600px;
}

.swiper-container img {
  width: 100%;
}

#bigback {
  padding-top: 150px;
  background-color: black;
  /* 앞에 있는 div 위,아래 위치 조절 */
  margin-bottom: -450px;
  margin-left: -8px;
  margin-right: -8px;
  height: 400px;
}

#back {
  filter: blur(20px);
  -webkit-filter: blur(20px);
  margin-left: 0px;
  height: 400px;
  width: 50%;
  z-index: 0;
}

#sub_swiper {
  /* 본인 div 왼쪽 오른쪽 위치 조절 */
  margin-left: -5px;
  margin-right: -740px;
}

.sub_swiper_Bigtext {
  color: white;
  font-size: 36px;
  font-weight: bold;
}

.sub_swiper_smalltext {
  margin-top: -20px;
  color: white;

}


#maininfo {
  /* 본인 div 위 아래 위치 조절 */
  margin-top: 70px;
  margin-left: 300px;
  height: 410px;
  width: 690px;
  border-radius: 5px;
}

#main {
  width: 525px;
  height: 400px;
  margin-top: -420px;
  margin-right: 340px;
}

.swiper-button-next::after {
  font-size: 17px;
  margin-top: 330px;
  font-weight: bold;
}

.swiper-button-prev::after {
  font-size: 17px;
  margin-left: 850px;
  margin-top: 330px;
  font-weight: bold;
}

.swiper-container-rtl .swiper-button-prev:after {
  font-size: 17px;
}

.page-no {
  position:absolute;
  top:-3px;
  left:50%;
  transform:translateX(-50%);
}

.page-no > span {
  display:inline-block;
  color:#fff;
  font-size:18px;
}

/* -----------------------------------------------------그냥 중간에 있는 슬라이드 ----------------------------------------------------- */

.slide {
    /* layout */
    display: flex;
    flex-wrap: nowrap;
    /* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
    overflow: hidden;
  
    /* position */
    /* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
    position: relative;
    /* size */
    margin-top: 70px;
    width: 100%;
    /* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
    user-select: none;
    background-color: rgb(212, 212, 212);
  }
  .slide_item {
    /* layout */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* position - 버튼 클릭시 left offset값을 적용시키기 위해 */
    position: relative;
    left: 0px;
  
    /* size */
    width: 100%;
    height: 235px;
    /* flex item의 flex-shrink는 기본값이 1이므로 컨테이너 크기에 맞게 줄어드는데, 슬라이드를 구현할 것이므로 줄어들지 않도록 0을 준다. */
    flex-shrink: 0;
  
    /* transition */
    transition: left 0.15s;

    cursor : pointer;
  }
  
  .slide_button {
    /* layout */
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* position */
    position: absolute;
    /* 버튼이 중앙에 위치하게 하기위해 계산 */
    top: calc(50% - 16px);
  
    /* size */
    width: 32px;
    height: 32px;
  
    /* style */
    border-radius: 100%;
    cursor: pointer;
  }
  
  .slide_prev_button {
    top: 170px;
    right: 448px;
  }

  .slide_prev_button :hover{
    background-color: rgb(231, 231, 231);
  }

  .slide_prev_button > img{
    height: 15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    border-right: 1px solid rgb(241, 241, 241);
    background-color: white;
  }

  .slide_next_button {
    top: 170px;
    right: 412px;
  }

  .slide_next_button :hover{
    background-color: rgb(231, 231, 231);
  }

  .slide_next_button > img{
    height: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: white;
  }
  
  /* 각 슬라이드가 변경되는 것을 시각적으로 확인하기 쉽도록 각 슬라이드별 색상 적용 */
  .slide_item.item1 > img{
    height: 100%
  }
  .slide_item.item2 > img{
    height: 100%
  }
  .slide_item.item3 > img{
    height: 100%
  }
  .slide_item.item4 > img{
    height: 100%
  }
  .slide_item.item5 > img{
    height: 100%
  }
 
  
  /* 페이지네이션 스타일 */
  ul,
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .slide_pagination {
    /* layout */
    display: flex;
    gap: 5px;
  
    /* position */
    position: absolute;
    bottom: 0;
    /* left:50%, translateX(-50%)를 하면 가로 가운데로 위치시킬 수 있다. */
    left: 50%;
    transform: translateX(-50%);
  }
  .slide_pagination > li {
    /* 현재 슬라이드가 아닌 것은 투명도 부여 */
    color: #86868688;
    cursor: pointer;
    font-size: 25px;
  }
  .slide_pagination > li.active {
    /* 현재 슬라이드 색상은 투명도 없이 */
    color: white;
  }
  
  .slide_item_duplicate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0px;
    width: 100%;
    height: 300px;
    flex-shrink: 0;
    transition: left 0.15s;
  }

  /* ------------------------------------------------------도움이 필요한 보육원 슬라이드----------------------------------------------- */


  .slick-slider{
    display: flex;
  }

.slickSlide{
  width: 65%;
  margin-left: 310px;
}

.slickBanner{
  margin-left: 19px;
  margin-right: 0px;
}

.slickBannerImg > img{
  border-radius: 5px;
  height: 220px;
  width: 99%;
}

.slickBannerInfo{
  margin-top: 5px;
  font-size: 15px;
}

.slickSlide button{
  border: 0px;
  background-color: white;
}

.slickSlide button::before{
  font-family: 'xeicon';
  color: black;
  font-size: 20px;
}

.slickSlide button.slick-prev{
  margin-left: -60px;
  font-size: 0;
  color: transparent;
}

.slickSlide button.slick-prev:before{
  
  content: "\e93b";
  
}

.slickSlide button.slick-next{
  height: 20px;
  margin-right: -70px;
  font-size: 0;
  color: transparent;
}

.slickSlide button.slick-next::before{
  content: "\e93e";
  margin-right: -50px;
}

.line{
  height: 0.08px;
  width: 67%;
  opacity: 0.5;
  margin-left: 65px;
  margin-top: -52px;
  background-color: aliceblue;
}

.page-no{
  margin-top: 341px;
  margin-left: -240px;
}

.page-no > span{
  font-size: 13px;
}


