<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nurserySchoolCommunityFile">
	<insert id="insert" parameterType="fileVO">
		insert into tbl_nursery_school_community_file values(#{fileSystemName}, #{fileOriginalName}, #{nurserySchoolCommunityNumber})
	</insert>
	
	<select id="select" parameterType="_int" resultType="fileVO">
		select nursery_school_community_file_system_name, nursery_school_community_file_original_name from tbl_nursery_school_community_file where nursery_school_community_number = #{nurserySchoolCommunityNumber}
	</select>
	
	<delete id="delete" parameterType="_int">
		delete from tbl_nursery_school_community_file where nursery_school_community_number= #{nurserySchoolCommunityNumber}
	</delete>
</mapper>





















