::selection {
	background-color: #ff5946 !important;
	color: #fff !important;
}

*, *::before, *::after {
	box-sizing: border-box;
}

* {
	font-family: -apple-system, BlinkMacSystemFont, 'Pretendard JP',
		Pretendard, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
		'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

b, strong {
	font-weight: bolder;
}

*, *::before, *::after {
	box-sizing: border-box;
}

p, ul {
	padding: 0px;
	margin: 0px;
}

p, ul {
	padding: 0px;
	margin: 0px;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	background-color: #ffffff;
}

body {
	background-color: #ffffff;
}

body {
	margin: 0;
	text-align: left;
	text-transform: none;
	line-height: 1.5;
	letter-spacing: 0;
	font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	background: #f8f8f9;
	position: relative;
	margin: 0;
}

article, aside, dialog, figcaption, figure, hgroup, main,
	nav :not(.be-not-in19, .be-not-in20, .be-not-in21), section {
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: middle;
	border-style: none;
}

h3 {
	color: #182026;
	font-weight: 600;
	margin: 0 0 10px;
	padding: 0;
	line-height: 25px;
	font-size: 22px;
}

button {
	border-radius: 0;
	padding: 0;
}

input, button, select, optgroup, textarea {
	margin: 0;
	font-size: inherit;
	line-height: inherit;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, input, optgroup, select, textarea {
	margin: 0;
	font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto',
		'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol';
	line-height: inherit;
}

ol, ul, dl {
	margin-top: 0;
}

ol, ul {
	list-style: none;
}

.content-text1 h2, .content-text1 h3, .content-text1 p, .content-text1 blockquote,
	.content-text1 strong, .content-text1 ul, .content-text1 ol {
	margin: 0px;
	padding: 0px;
	border: none;
	word-break: keep-all;
	overflow-wrap: break-word;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u,
	i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
	caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

[lang='ko'] body {
	word-break: keep-all;
}

body {
	line-height: 1;
}

body {
	margin: 0;
	overflow-wrap: break-word;
	overflow-wrap: anywhere;
}

body>div {
	position: relative;
	z-index: 0;
}

body>div {
	position: relative;
	z-index: 0;
}

#big3 {
	position: relative;
}

article, aside, details, figcaption, figure, hgroup, menu, nav :not(.be-not-in19,
	.be-not-in20, .be-not-in21), section {
	display: block;
}

/* #daddy-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 10;
} */

#header-bottom-line1 {
	border-radius: 0;
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	border-color: #E5E5E5;
}

#header-bottom-line2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#header-bottom-line3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 1216px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

#be-not-in1 {
	display: none;
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	-webkit-align-items: flex-end;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

#be-not-in2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

#be-not-in3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 140px;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

#be-not-in4 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 12px;
	cursor: pointer;
	-webkit-align-items: baseline;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	cursor: pointer;
}

#be-not-in5 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

#be-not-in6 {
	border-width: 0;
	color: #0c0c0c;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.25rem;
	white-space: nowrap;
}

#be-not-in7 {
	width: 2px;
	height: 0;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

#be-not-in8 {
	display: block;
	width: 16px;
	height: 16px;
}

#be-not-in9 {
	display: block;
	width: 100%;
	height: 100%;
	fill: #000000;
}

svg:not(:root) {
	overflow: hidden;
}

#be-not-in10 {
	fill: #000000;
}

#be-not-in11 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-top: 12px;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

a {
	-webkit-text-decoration: none;
	text-decoration: none;
	color: inherit;
}

.be-not-in12 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 12px;
	cursor: pointer;
	-webkit-align-items: baseline;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	cursor: pointer;
}

.be-not-in13 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: flex-start;
	-webkit-box-align: flex-start;
	-ms-flex-align: flex-start;
	align-items: flex-start;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.be-not-in14 {
	border-width: 0;
	color: #0c0c0c;
	margin: 0;
	padding: 0;
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.25rem;
	white-space: nowrap;
}

.be-not-in15 {
	width: 4px;
	height: 0;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.be-not-in16 {
	width: 4px;
	height: 4px;
	overflow: hidden;
	background-color: #ff5d00;
	border-radius: 50%;
}

.be-not-in17 {
	width: 28px;
	height: 0;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

.be-not-in18 {
	display: none;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.be-not-in19 {
	border-radius: 0;
	width: 100%;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	background-color: #FFFFFF;
	border-color: #E5E5E5;
}

.be-not-in20 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-top: 12px;
	padding-left: 20px;
	padding-right: 20px;
	overflow-x: scroll;
	scrollbar-width: none;
	-ms-overflow-style: none;
	-webkit-align-items: stretch;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.be-not-in21 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.be-not-in21 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}

.middle1 {
	background-color: rgb(255, 255, 255);
}

.middle-header {
	position: absolute;
	width: 100%;
	height: 404px;
	padding: 0px 20px;
	background-color: rgb(0, 0, 0);
}

.middle-middle1 {
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

.middle-middle1 {
	max-width: 960px;
}

.middle-middle2 {
	position: static;
	max-width: none;
	margin-left: 24px;
	margin-right: 24px;
}

.middle-middle2 {
	max-width: 1176px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.middle-middle2 {
	padding-top: 32px;
}

.middle-middle3 {
	flex-wrap: wrap;
	-webkit-box-pack: start;
	place-content: stretch flex-start;
	margin-right: -12px;
	margin-left: -12px;
	display: flex !important;
}

.middle-image1 {
	position: relative;
	min-height: 1px;
	padding-right: 12px;
	padding-left: 12px;
	box-sizing: border-box;
}

.middle-image1 {
	width: 100%;
}

.middle-image1 {
	width: 66.6667%;
}

.middle-image2 {
	position: static;
}

.middle-image4 {
	position: relative;
	overflow: hidden;
	padding-top: 100%;
}

.middle-image4 {
	padding-top: 57.1429%;
}

.middle-image3>* {
	border-radius: 3px;
}

.middle-image4 picture {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.middle-image5 {
	position: relative;
}

.middle-image5 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.be-not-in22 {
	display: block;
}

.be-not-in22 {
	display: none;
}

.be-not-in23 {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 26px 0px 6px;
	word-break: keep-all;
}

.be-not-in23 {
	margin-top: 0px;
	width: auto;
}

.be-not-in24 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 34px;
	letter-spacing: -0.4px;
	margin: 0px;
}

.be-not-in25 {
	display: none;
}

button {
	background-color: inherit;
}

.be-not-in26 {
	border: 0px;
	outline: none;
	margin: 0px;
	padding: 0px;
	flex: initial;
	box-sizing: border-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
}

.be-not-in27 {
	display: inline-flex;
	flex: 0 0 auto;
	vertical-align: middle;
	padding: 0px;
	border-radius: 3px;
	color: rgb(26, 26, 26);
	background-color: rgb(248, 248, 248);
	width: 32px;
	height: 32px;
	transition: background-color 0.1s ease 0s;
}

.be-not-in28 {
	background-color: rgb(255, 255, 255);
}

.side-box-button1 {
	border: 0px;
	outline: none;
	margin: 0px;
	padding: 0px;
	flex: initial;
	box-sizing: border-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	flex-direction: row;
}

.side-box-button2 {
	display: inline-flex;
	vertical-align: middle;
	background: none;
	color: rgb(202, 202, 202);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.2px;
	transition: color 0.1s ease 0s;
}

.side-box1>button {
	width: 100%;
}

button, html [type='button'], [type='reset'], [type='submit'] {
	-webkit-appearance: button;
}

.be-not-in26:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.be-not-in29 {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.be-not-in30 {
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.be-not-in31 {
	word-break: keep-all;
}

.be-not-in32 {
	margin: 28px 0px 40px;
}

.be-not-in33 {
	display: flex;
	letter-spacing: -0.15px;
}

.be-not-in33:first-child {
	-webkit-box-align: center;
	align-items: center;
}

.be-not-in33>div:first-child {
	width: 112px;
}

.be-not-in34 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.be-not-in33>div:last-child {
	width: 200px;
}

.be-not-in35 {
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.be-not-in36 {
	word-break: keep-all;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

hr {
	margin: 20px 0;
	border: none;
	border-bottom: 1px solid rgba(16, 22, 26, 0.15);
}

.be-not-in37 {
	margin: 0px -24px;
	border-bottom: 1px solid rgb(248, 248, 248);
}

.be-not-in37 {
	display: none;
}

.content-text2 {
	padding: 40px 0px;
}

.content-text2 {
	padding: 40px 100px 60px;
}

.content-text1 p {
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	letter-spacing: -0.3px;
	margin: 0px;
	color: rgb(26, 26, 26);
	padding-top: 8px;
}

.content-text1 p:first-of-type {
	padding-top: 0px;
}

.content-text1 ul {
	padding: 0px;
	border: none;
	background: none;
	list-style: none;
	font-size: 16px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 24px;
	letter-spacing: -0.3px;
	margin: 0px 0px 24px;
}

.content-text1 ul>li {
	margin: 0px 0px 4px;
	padding-left: 24px;
	position: relative;
}

.content-text1 ul>li {
	color: rgb(26, 26, 26);
}

.content-text1 ul>li::before {
	position: absolute;
	left: 0px;
	top: 0px;
	color: inherit;
	font-weight: inherit;
}

.content-text1 ul>li::before {
	content: "";
	width: 4px;
	height: 4px;
	margin-top: 11px;
	margin-left: 10px;
	border-radius: 3px;
	background-color: rgb(26, 26, 26);
}

.content-text1>:last-child {
	margin-bottom: 0px;
}

.side1 {
	position: relative;
	min-height: 1px;
	padding-right: 12px;
	padding-left: 12px;
	box-sizing: border-box;
}

.side1 {
	width: 100%;
}

.side1 {
	width: 33.3333%;
}

.side2 {
	position: static;
}

.side-box1 {
	position: sticky;
	top: 110px;
	padding: 28px 32px 32px;
	border-radius: 3px;
	box-shadow: rgb(41 42 43/ 16%) 0px 2px 6px -2px;
	border: 1px solid rgb(255, 255, 255);
	background-color: rgb(255, 255, 255);
	overflow: hidden;
	z-index: 9;
}

.side-box-title1 {
	display: flex;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 26px 0px 6px;
	word-break: keep-all;
}

.side-box-title1 {
	margin-top: 0px;
	width: auto;
}

.side-box-title2 {
	font-size: 24px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 34px;
	letter-spacing: -0.4px;
	margin: 0px;
}

.side-box-content1 {
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.side-box-content2 {
	word-break: keep-all;
}

.side-box-date1 {
	margin: 28px 0px 40px;
}

.side-box-date2:first-child {
	-webkit-box-align: center;
	align-items: center;
}

.side-box-date2 {
	display: flex;
	letter-spacing: -0.15px;
}

.side-box-date2>div:first-child {
	width: 112px;
}

.side-box-date3 {
	font-size: 14px;
	font-weight: bold;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.side-box-date2>div:last-child {
	width: 200px;
}

.side-box-date4 {
	font-size: 14px;
	font-weight: normal;
	color: rgb(26, 26, 26);
	line-height: 20px;
	letter-spacing: -0.15px;
	margin: 0px;
}

.side-box-date5 {
	word-break: keep-all;
}

.side-box-button1:not(:disabled):not(.disabled) {
	cursor: pointer;
}

.side-box-button3 {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	font-size: 0px;
	width: 24px;
	height: 24px;
	margin-right: 4px;
}

.side-box-button4 {
	flex: 0 0 auto;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
}

.footer-header-line2 {
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: 100%;
	z-index: 1000;
}

.footer-header-line2 {
	display: none;
}

.footer-header-line3 {
	display: none;
}

#portal {
	position: relative;
	z-index: 0;
}

#portal {
	position: relative;
	z-index: 0;
}

#global-portal-area {
	position: relative;
	z-index: 0;
}

#global-portal-area {
	position: relative;
	z-index: 0;
}

#criteo-tags-div {
	position: relative;
	z-index: 0;
}

#criteo-tags-div {
	position: relative;
	z-index: 0;
}

.big4 {
	position: fixed;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	z-index: 10000002;
	inset: 0px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.72);
	opacity: 0;
	visibility: hidden;
	overscroll-behavior: contain;
}

.big5 {
	transition: visibility 0s linear 225ms, opacity 225ms
		cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.big6 {
	position: fixed;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	z-index: 3000;
	inset: 0px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.72);
	opacity: 0;
	visibility: hidden;
	overscroll-behavior: contain;
}

#ch-plugin {
	position: relative;
	z-index: 0;
}

#ch-plugin {
	display: block;
	font-family: NotoSansKR, NotoSansJP, -apple-system, BlinkMacSystemFont,
		"Helvetica Neue", "맑은 고딕", "Yu Gothic", "Segoe UI", Roboto,
		"system-ui", "sans-serif" !important;
}

.mini-box2 {
	position: relative !important;
	display: flex !important;
	-webkit-box-align: center !important;
	align-items: center !important;
	-webkit-box-pack: center !important;
	justify-content: center !important;
	overflow: visible !important;
	cursor: pointer !important;
}

#ch-plugin-launcher {
	display: flex;
	@media
	(
	max-width
	:
	640px)
{
	;
	display
	:
	 
	none
	;
	
    
}

;
}
#ch-plugin img {
	margin: unset;
}

[hidden] {
	display: none !important;
}

.mini-box4 {
	box-sizing: border-box;
	display: inline-flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	min-width: 20px;
	height: 20px;
	padding: 0px 4px;
	font-size: 13px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.9);
	visibility: hidden;
	background-color: rgb(233, 78, 88);
	border-radius: 10px;
	flex-wrap: nowrap !important;
}

.mini-box5 {
	position: absolute !important;
	top: -6px !important;
	right: -6px !important;
	min-width: 24px !important;
	height: 24px !important;
	padding: 0px 7px !important;
	font-size: 14px !important;
	visibility: hidden !important;
	border-radius: 12px !important;
	box-shadow: rgb(0 0 0/ 5%) 0px 0px 2px 1px, rgb(0 0 0/ 8%) 0px 1px 2px,
		rgb(255 255 255/ 12%) 0px 0px 2px inset !important;
	animation: 0.2s cubic-bezier(0.1, 0, 0.6, 1) 0.55s 1 normal backwards
		running fcEaNs !important;
}

.ch-messenger-hidden {
	display: none !important;
}

#ch-plugin * {
	font-family: inherit;
}

.mini-box1 {
	position: fixed !important;
	z-index: 1000 !important;
	display: block !important;
	flex-wrap: nowrap !important;
	width: auto !important;
	overflow: visible !important;
	background: transparent !important;
	bottom: 24px !important;
	right: 24px !important;
}

.mini-box3 {
	width: 64px !important;
	height: 64px !important;
}

#ch-plugin-script-iframe {
	border-radius: 30px !important;
}