#news3Contents {
    padding-top: 10%;
    max-width: 1176px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}


.pictures {
    margin-bottom: 30px;
    justify-content: center;
    display: flex;
    overflow: hidden;
}

#post {
    border-top: 1px solid rgb(228, 227, 227);
    border-bottom: 1px solid rgb(228, 227, 227);
    padding: 30px;
}

#postTitle {
    font-size: 1.625rem;
    line-height: 1.625rem;
    font-weight: 700;
    color: rgb(12, 12, 12);
    margin-top: 36px;
}

#postBody {
	margin: 30px 10px 70px;
    padding-top: 80px;
    padding-bottom: 80px;
}

.postInfo {
    margin-top: 30px;
}

.postInfo>* {
    display: flex;
    justify-content: space-between;
}

.postCategory {
    border-width: 0px;
    color: rgb(162, 162, 162);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.class {
    border-width: 0px;
    color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    word-break: normal;
}

#postInfoDetail {
    line-height: 2.25rem;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 10px 0 10px 0;
}