html{
    margin: 0;
}

body{
    margin: 0;
}

.login_title{
    margin: 0 auto;
}

.main_login {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 100%;
}

h3 {
    font-weight: bold;
    padding-bottom: 280px;
    padding-top: 55px;
}

h2 {
    font-weight: bold;
    font-size: 32px;
    margin-top: -43px;
    color: rgb(58, 58, 58);
    letter-spacing: -3px;
}

.login_kakao {
    position: relative;
    width: 375px;
}

.kakao_logo {
    position: absolute;
    left: 77px;
    top: 12px;
}

.login_other {
    width: 375px;
}

span.kakaologo {
    position: absolute;
}

input.button1 {
    width: 375px;
    height: 47px;
    border-radius: 3px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    transition: filter 0.1s ease 0s;
    background-color: rgb(255, 86, 0);
    border: 0 solid white;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1.5px;
}

input.button2 {
    width: 375px;
    height: 47px;
    border-radius: 3px;
    margin-bottom: 8px;
    color: rgb(58, 58, 58);
    transition: filter 0.1s ease 0s;
    background-color: #edecec;
    border: 0 solid white;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1.5px;
}

.login_picture {
    width: 50%;
}