@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}


/* =================================================헤더============================================== */
body {
    width: 100%;
    height: 100%;
    font-family: 'Pretendard-Regular';
    margin-left: 0px;
}

header {
    position: relative;
    z-index: 1;
    position: fixed;
    background-color: white;
}

.head {
    width: 100%;
    height: auto;
}

.biggest {
    display: flex;
    justify-content: center;
}

.bigger {
    width: 100%;
    height: 100px;
    max-width: 1380px;
    display: flex;
}

.logo {
    height: 0px;
}

.logoimg {
    margin: 31px;
    display: flex;
}

.logoimg>img {
    height: 40px;
}

.search_box {
    height: 35px;
    width: 320px;
    margin-top: 36px;
    display: flex;
}

#search {
    width: 320px;
    border: darkgray;
    background-color: rgb(245, 245, 245);
}

#search_btn {
    border: 0;
    cursor: pointer;
    background-color: transparent;
}

#search_btn>img {
    height: 20px;
}

.user {
    width: 120px;
    height: 30px;
    font-size: 13px;
    margin: 38px;
    margin-left: 680px;
    display: flex;
    min-width: 100px;
    align-items: center;
    justify-content: center;
}

.user>a {
    margin: 5px;
    text-decoration: none;
    color: rgb(92, 92, 92);
}

.navbig {
    display: flex;
    justify-content: center;
}

.nav {
    width: 100%;
    height: 40px;
    max-width: 1380px;
    display: flex;
    align-items: center;
}

.lists {
    margin-left: 40px;
    color: black;
    text-decoration: none;
}

.longdivs {
    display: flex;
    justify-content: center;
    background-color: aqua;
    height: 547px;
    max-width: 100%;
}

.longdived {
    width: 100%;
    height: 100%;
    max-width: 1216px;
    display: flex;
    max-width: 14.5%;
    background-color: aquamarine;
    border: solid 1px;
}

/* ================================================================================================= */


/* ==============================================푸터============================================== */


.footerbiggest {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1665px;
    width: 100%;
    height: 100%;
}

.footerbigger {
    width: 1100px;
    display: flex;
    align-items: center;
}

.footerup {
    width: 100%;
    height: 60px;
    margin-bottom: -10px;
    display: flex;
}

.footerup_left {
    width: 60%;
    height: 100%;
}

.footerup_left01 {
    height: 35px;
    margin-left: 10px;
}

.footerup_left01>img {
    margin-top: 3px;
    height: 70%;
}

.footerup_left02>p {
    font-size: 14px;
    line-height: 3px;
    letter-spacing: -0.15px;
    margin-top: 6px;
    margin-left: 12px;
    color: rgb(102, 102, 102);
}

.footerdown {
    width: 100%;
    height: 40px;
    max-width: 1176px;
    display: flex;
}

.footerdown_left {
    height: 100%;
    width: 30%;
}

.footerdown_left>p {
    font-size: 11px;
    line-height: 0px;
    margin-top: 9px;
    margin-left: 12px;
    text-decoration: none;
    color: rgb(162, 162, 162);
}

.footerdown_right {
    height: 100%;
    width: 70%;
    align-items: center;
    text-align: center;
}

.footerdown_right01>p {
    font-size: 11px;
    line-height: 0px;
    margin-top: 16px;
    margin-left: 12px;
    text-decoration: none;
    color: rgb(162, 162, 162);
}

.footerdown_right02>p {
    font-size: 9px;
    line-height: 7px;
    margin-top: 13px;
    margin-left: 12px;
    text-decoration: none;
    color: rgb(202, 202, 202);
}

/* ================================================================================================= */


.picture {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    cursor: pointer;
}

/* ================================================================================================= */

figure.snip0015 {
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 600px;
    max-width: 600px;
    max-height: 500px;
    width: 100%;
    background: #000000;
    text-align: center;
}

figure.snip0015 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure.snip0015 img {
    opacity: 1;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
}

figure.snip0015 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3em 3em;
    width: 100%;
    height: 100%;
}

figure.snip0015 figcaption::before {
    position: absolute;
    top: 50%;
    right: 30px;
    bottom: 50%;
    left: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: #ffffff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}


figure.snip0015 h2,
figure.snip0015 p {
    margin: 0 0 5px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, -webkit-transform 0.35s, -moz-transform 0.35s, -o-transform 0.35s, transform 0.35s;
}

figure.snip0015 h2 span {
    font-weight: 800;
}

figure.snip0015 h2 {
    word-spacing: -0.15em;
    font-weight: 300;
    text-transform: uppercase;
    -webkit-transform: translate3d(0%, 50%, 0);
    transform: translate3d(0%, 50%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0015 h2 span {
    font-weight: 800;
}

figure.snip0015 p {
    font-weight: 200;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.snip0015 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
}

figure.snip0015:hover img {
    opacity: 0.35;
}

figure.snip0015:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

figure.snip0015:hover figcaption p {
    opacity: 0.9;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

figure.snip0015:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    top: 30px;
    bottom: 30px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}