main {
    display: flex;
    padding-top: 30px;
    margin-right: auto;
    height: auto;

}

#myPage{
    max-width: 1380px;
    width: 100%;
    margin-left: 17%;
    padding-top: 120px;
}

#myPageMenu{
    display: inline-block;
    margin-right: 78px;
    width: 320px;
    height: 668px;
}

#title{
    padding-top: 72px;
    padding-bottom: 48px;
    font-weight: 700;
    font-size: 30px;


}

#account{
    display: inline-block;
    color: #A2A2A2;
    font-size: 14px;
    font-weight: 100;
    width: 121px;
    height: 15px;
}

#menus{
    font-weight: bold;
    font-size: 18;
    margin-bottom: 25px;
}

.menu{
    cursor: pointer;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    color: rgb(26, 26, 26);
    width: 320px;
    height: 20px;
}

section{
    padding-top: 24px;
}

#content{
    display: inline-block;
    width: 778px;
    height: 668px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.45px;
    margin: 0px;
    padding-top: 0;
}

#checkPw{
    font-size: 14px;
    font-weight: normal;
    padding: 15px;
    
}

#userPw{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid rgb(239, 239, 239);
    background-color: white;
    height: 48px;
    flex: 1 1 auto;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
    width: 90%;
}



#button{
    background-color: rgb(248 248 248);
    position: absolute;
    left: 90%;
    width: 10%;
    cursor: pointer;
}


form{
    position: relative;
    display: flex;
}

#warning{
    font-size: 18px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 24px;
    letter-spacing: -0.45px;
    margin: 0px;
}

#button{
    background-color: rgb(248 248 248);
    position: absolute;
    left: 90%;
    width: 10%;
    cursor: pointer;
    
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
    border: 1px solid #efefef;
    background-color: rgb(245, 241, 241);
    height: 48px;
    flex: 1 1 auto;
    color: rgb(26, 26, 26);
    box-sizing: border-box;
    padding: 0px 16px;
    border-radius: 3px;
}